<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Menú</h4>
                        <!--
                        <p class="card-category"> Here is a subtitle for this table</p>-->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Titulo
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Precio
                                    </th>
                                    <th>
                                        Cocina
                                    </th>
                                    <th style="width: 5%">

                                    </th>
                                    <th style="width: 5%">

                                    </th>
                                    
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let categ of itemCategories">
                                        <tr>
                                            <td colspan="7" style="background-color: antiquewhite">
                                                {{categ.name}}
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of categ.items">
                                            <td>
                                                {{item.code}}
                                            </td>
                                            <td>
                                                {{item.title}}
                                            </td>
                                            <td>
                                                {{item.summary}}
                                            </td>
                                            <td>
                                                {{item.price | currency}}
                                            </td>
                                            <td>
                                                {{item.kitchenId}}
                                            </td>
                                            <td>
                                                <button class="btn btn-info" (click)="deletePlato()">Editar</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger" (click)="deletePlato()">Eliminar</button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  