<div class="main-content">
    <p>

    </p>
    <div class="container-fluid">
        
            <ng-container *ngFor="let fg of itemForms.controls">
                <form [formGroup]="fg" (submit)="recordSubmit(fg)">
        <div class="row">            
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Configuracion del Negocio</h4>
                            </div>
                            <div class="card-body">
                                <!--
                                <ng-container *ngFor="let fg of itemForms.controls">
                                    <form [formGroup]="fg" (submit)="recordSubmit(fg)">-->
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Nombre para Mostrar</label>
                                            <input class="form-control" formControlName="displayName">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Slogan</label>
                                            <input class="form-control" formControlName="slogan">
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Descripción del comercio</label>
                                            <input class="form-control" formControlName="summary">
                                        </div>
                                        <div style="text-align:right;">
                                            <button type="submit" class="btn btn-danger">Guardar</button>
                                        </div>
        <!--
                                    </form>
                                </ng-container>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <!--
                                <ng-container *ngFor="let fg of itemForms.controls">
                                <form>
                                    -->

                                    <div class="form-group" style="margin-top: 0px !important">
                                        <fieldset class="form-group" style="margin-top: 0px !important">
                                            {{imageError}}
                                            <div class="custom-file fileInputProfileWrap">
                                                <input type="file" (change)="fileChangeEvent($event, fg)" class="fileInputProfile">
                                                <div class="img-space">
                
                                                    <ng-container *ngIf="fg.get('logo').value != ''; else elseTemplate">
                                                        <img [src]="fg.get('logo').value" />
                                                    </ng-container>
                                                    <ng-template #elseTemplate>
                                                        <img src="./assets/img/placeholder.png" class="img-responsive">
                                                    </ng-template>
                
                                                </div>
                
                                            </div>
                                        </fieldset>
                                    </div>
     
                                <!--
                                </form>
                                </ng-container>
        -->
                            </div>
                            <div class="card-body">
                                <h2 class="card-title"><strong> Churro Man </strong></h2>
                                <h4 class="card-category text-gray">El super churro</h4>
                                <p></p>

                                <p class="card-description"> Ubicado en el centro de Flores, desde 1955 Churro Man ofrece a los
                                    vecinos la mejor comida casera. Atendido por sus propios dueños </p>
                            </div>
                        </div>
                    </div>
        </div>            
                </form>
            </ng-container>
        
    </div> 
</div>
