<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col">
                        <h2>Ocupación</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">table_bar</i>
                                </div>
                                <p class="card-category">Mesas Ocupadas</p>
                                <h3 class="card-title">{{ mesasOcup }} / {{ totMesas }} </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">table_bar</i>
                                    <a href="/#/servicios">Ir a Mesas Activas</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">people_alt</i>
                                </div>
                                <p class="card-category">Comensales</p>
                                <h3 class="card-title">{{ comensales }} </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">table_bar</i>
                                    <a href="/#/servicios">Ir a Mesas Activas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                        <h2>Servicios de Mesa</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">restaurant</i>
                                </div>
                                <p class="card-category">En servicio</p>
                                <h3 class="card-title">{{ enservicio }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">table_bar</i>
                                    <a href="/#/servicios">Ir a Mesas Activas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">front_hand</i>
                                </div>
                                <p class="card-category">Esperando al Mozo</p>
                                <h3 class="card-title">{{ esperaMozo }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">table_bar</i>
                                    <a href="/#/servicios">Ir a Mesas Activas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </div>
                                <p class="card-category">Esperando Cobro</p>
                                <h3 class="card-title">{{ esperaCobro }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">table_bar</i>
                                    <a href="/#/servicios">Ir a Mesas Activas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                        <h2>Pedidos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <p class="card-category">Productos Solicitados</p>
                                <h3 class="card-title">{{ itemsSolicitados }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">waving_hand</i>
                                    <a href="/#/pedidos">Ir a Pedidos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <p class="card-category">Productos en Preparación</p>
                                <h3 class="card-title">{{ itemsPreparacion }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">waving_hand</i>
                                    <a href="/#/pedidos">Ir a Pedidos</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                <p class="card-category">Productos Listos</p>
                                <h3 class="card-title">{{ itemsListos }}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">waving_hand</i>
                                    <a href="/#/pedidos">Ir a Pedidos</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-5">
                <app-notifications></app-notifications>
            </div>    
        </div>    
    </div>
</div>